.player {
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: lightgray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 0.8;

    span {
        font-size: 32px;
        margin-left: 16px;
    }
    img {
        width: 70px;
        height: 70px;
        margin-left: 16px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}