.player {
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background-color: lightgray;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.8;

  span {
    font-size: 12px;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    padding-bottom: 4px;
  }
}

.player-active {
  background-color: orange !important;
}
